@import '../../sass/utils';

$column-width: 200;
$row-height: 320;

.boardWrapper {
  display: inline-grid;
  grid-template-columns:
    cardem($column-width) cardem($column-width) cardem($column-width)
    cardem($column-width);
  grid-template-rows: cardem($row-height) cardem($row-height) cardem(
      $row-height
    );
  grid-gap: cardem(20);
}
