@import '../../sass/utils';

$column-width: 200;
$row-height: 320;

.boardWrapper {
  display: inline-grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, cardem($row-height));
  grid-gap: cardem(20);
}
