@import '../../sass/utils';

$card-bg-color: #fff;

.card {
  background-color: $card-bg-color;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  border-radius: cardem(10);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  width: cardem(200);
  height: cardem(280);
  margin: 0 15px 15px 0;
  border: 1px solid;
  position: relative;
  z-index: 2;

  &.noshadow {
    box-shadow: none;
  }

  &.cardSelected {
    opacity: 0.7;
  }
}

.cardCorner {
  line-height: 1;
  position: absolute;
  text-align: center;
  span {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    font-size: 2em;
  }

  .cardCornerNumber {
    height: cardem(24) / 2;
    line-height: cardem(24) / 2;
  }
}

.cardCornerTop {
  @extend .cardCorner;
  left: cardem(8);
  top: cardem(12);
}

.cardCornerBottom {
  @extend .cardCorner;
  bottom: cardem(12);
  right: cardem(8);
  @include transform(rotate(180deg));
}
